streamlit==1.32.0
pandas==2.2.0
numpy==1.26.0
plotly==5.18.0
requests==2.31.0
scikit-learn==1.4.0
pillow==10.2.0
streamlit-option-menu==0.3.12
streamlit-extras==0.4.0
streamlit-lottie==0.0.5
python-dateutil==2.9.0
pytz==2025.1
markdownlit==0.0.7
htbuilder==0.9.0
st-annotated-text==4.0.2
streamlit-faker==0.0.3
streamlit-card==1.0.2
streamlit-vertical-slider==2.5.5
watchdog==3.0.0 